# =========================
# Node.js
# =========================
node_modules/
package-lock.json

# =========================
# Environment
# =========================
.env
.env.*

# =========================
# Logs
# =========================
*.log
logs/

# =========================
# Build
# =========================
dist/
build/

# =========================
# Upload
# =========================
uploads/
images/

# =========================
# Python
# =========================
__pycache__/
*.pyc
.venv/
venv/

# =========================
# VS Code
# =========================
.vscode/settings.json

# =========================
# OS
# =========================
.DS_Store
Thumbs.db


memo.txt